{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youka Teachers - Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>  

    <div class="container">
        <div class="login-box">
            <h2>Youka Teachers</h2>
            <form method="POST">

                <label for="username">Correo</label>
                <input type="text" id="username" name="username" placeholder="Correo" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <input type="submit" value="Login">
            </form>
            <div class="forgot-password">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="register">
                <a href="{% url "crear" %}" >¿No tienes cuenta?</a> 
            </div>
        </div>

        <div class="about">
            <h3>¿Quiénes somos?</h3>
            <p>
                Youka Teachers es una plataforma diseñada para facilitar el trabajo diario de los maestros. Nuestra misión es
                optimizar el proceso de gestión de calificaciones y brindar herramientas útiles para mejorar el rendimiento académico
                de los estudiantes. ¡Únete a nuestra comunidad y descubre todo lo que podemos ofrecer!
            </p>
        </div>
    </div>

</body>
</html>
