{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Smart Prof</title>
    <link rel="stylesheet" href="{% static 'register_style.css' %}">
</head>
<body>

    <div class="container">
        <div class="login-box">
            <h2>Registro en Smart Prof</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" placeholder="Nombre" required>

                <label for="email">Correo</label>
                <input type="email" id="email" name="email" placeholder="Correo" required>


                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <input type="submit" value="Crear cuenta">
            </form>
                <p>¿Ya tienes cuenta? <a href="{%url 'index' %}">Regresa al inicio</a></p>
            </div>
        </div>

        <div class="about">
            <h3>¿Quiénes somos?</h3>
            <p>
                Smart Prof es una plataforma diseñada para facilitar el trabajo diario de los maestros. Nuestra misión es
                optimizar el proceso de gestión de calificaciones y brindar herramientas útiles para mejorar el rendimiento académico
                de los estudiantes. ¡Únete a nuestra comunidad y descubre todo lo que podemos ofrecer!
            </p>
        </div>
    </div>

</body>
</html>
