{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Youka Teachers</title>
    <link rel="stylesheet" href="{% static 'inicio_style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Welcome to Youka Teachers</h1>
            <div class="user-section">
                <span>Teacher Name</span>
            </div>
        </div>
    </header>

    <div class="main-container">
        <section class="class-section">
            <h2>Clases</h2>
            <button class="add-class-button" onclick="openModal()">Añadir a Clase</button>
            <div class="class-grid">
                <a href="{% url 'clase' %}" class="class-box">Clase 1</a>
                <a href="{% url 'clase' %}" class="class-box">Clase 2</a>
                <a href="{% url 'clase' %}" class="class-box">Clase 3</a>
                <a href="{% url 'clase' %}" class="class-box">Clase 4</a>
                <a href="{% url 'clase' %}" class="class-box">Clase 5</a>
                <a href="{% url 'clase' %}" class="class-box">Clase 6</a>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Youka Teachers. All Rights Reserved.</p>
    </footer>

    <!-- Modal Structure -->
    <div id="classModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Crear Nueva Clase</h2>
            <form id="createClassForm">
                <label for="className">Nombre de la Clase</label>
                <input type="text" id="className" name="className" required>
                <button type="button" id="crearClase">Crear Clase</button>
            </form>
        </div>
    </div>


    <script>
        const crearClaseUrl = "{% url 'crearClase' %}";
        const csrfToken = "{{ csrf_token }}";
    </script>

    <script src="{% static 'js/clase.js' %}"></script>
</body>
</html>