
{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'students.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Gestión de Estudiantes</h1>
        </header>
        <main>
            <section class="student-list">
                <h2>Lista de Estudiantes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Matrícula</th>
                            <th>Última Calificación</th>
                            <th>Ver todas las calificaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas de estudiantes se agregarán aquí -->
                    </tbody>
                </table>
            </section>
        </main>
        <div class="buttons-container">
            <button class="add">Añadir Estudiante</button>
            <button class="add">Añadir Excel</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Youka Teachers. All Rights Reserved.</p>
    </footer>
</body>
</html>
